.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(50.68deg, #23a7dc, #0f7193);
  width: 100%;
  height: 100%;
  display: none;
}
.iondiamond-icon {
  position: absolute;
  top: 10.8px;
  left: 11px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  transform: rotate(-180deg);
  z-index: 1;
}
.rectangle-group {
  height: 51.5px;
  width: 51.5px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(50.68deg, #23a7dc, #0f7193);
  transform: rotate(180deg);
}
.quality-and-reliability {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
}
.we-are-committed {
  align-self: stretch;
  height: 62px;
  position: relative;
  font-size: var(--semibold-type16-size);
  letter-spacing: -0.02em;
  line-height: 175%;
  color: var(--color-gray-500);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.empty-content-box,
.quality-and-reliability-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.quality-and-reliability-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
  min-width: 281px;
}
.empty-content-box {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--black);
  font-family: var(--semibold-type16);
}
@media screen and (max-width: 450px) {
  .quality-and-reliability {
    font-size: var(--text-single-200-regular-size);
    line-height: 26px;
  }
  .empty-content-box {
    flex-wrap: wrap;
  }
}
